/*
 * Variables and optional mixins, written in SCSS.
 * Examples taken from http://sass-lang.com/guide
 *
 */

$font-stack:'Josefin Slab', serif;
$primary-color: olive;
$body-green:#2D8A5C;
$text-green:#153D29;
$btn-greed:#153D29;
